{% extends '::dashboard_base.html.twig' %}

{% block body -%}
    <ul class="breadcrumb">
        <li class="active">Клиенты</li>
    </ul>

    <table class="records_list table table-hover">
        <thead>
            <tr>
                <th>Эл. почта</th>
                <th>Пароль</th>
                <th>Промо Код</th>
                <th>Обновлено</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.email }}</td>
                <td>{{ entity.password }}</td>
                <td><a href="{{ path('promocode_show', { 'id': entity.promoCode.id }) }}">{{ entity.promoCode.code }}</a></td>
                <td>{% if entity.updated %}{{ entity.updated|date('d.m.Y H:i:s') }}{% endif %}</td>
                <td>
                <ul class="list-inline">
                    <li>
                        <a href="{{ path('customer_show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-link"></span></a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
